.temperature-converter-view {
  display: flex;
  flex-flow: row nowrap;
  padding-top: 2em;

  i {
    padding: 2.2em 1em 0;
  }

  .input-group {
    margin-bottom: 0;
  }

  &__celsius, &__fahrenheit {
    flex-grow: 1;

    input {
      margin-right: .5em;
      text-align: right;
      width: 6em;
    }
  }

  &__celsius {
    display: flex;
    flex-flow: row-reverse nowrap;
  }
}
