.crud-view {
  padding: 2em 0;

  &__add-user {
    form {
      max-width: 40em;
      padding-top: 2em;

      .input-group {
        width: 100%;
      }
    }
  }

  &__list {
    box-sizing: border-box;
    height: 100%;
    overflow: scroll;
  }

  &__list-controls {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-bottom: 1em;

    label {
      margin-right: .5em;
    }
  }
}
