.user-list {
  background-color: var(--background-color-lighter);
  overflow: scroll;
  box-sizing: border-box;

  button {
    margin-top: 0;
  }

  li {
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    height: 4em;
    justify-content: space-between;
    padding: 1em;

    &:hover {
      background-color: var(--background-color-lightest);
    }

    &:not(:last-of-type) {
      border-bottom: 1px solid #444;
    }

    button > i {
      padding: .5em;
      margin-right: 0;
    }
  }

  &__name {
    flex-grow: 1;
    max-width: 55em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__remove-button {
    width: 5em;
  }
}
