.timer-view {
  max-width: 30em;

  &__elapsed {
    margin: .5em 20.5em 0 0;
  }

  &__gauge {
    &__border {
      position: relative;

      border: 1px solid var(--highlight-color-lighter);
      border-radius: 3px;
      box-sizing: border-box;
      display: inline-block;
      height: 25px;
      margin-left: .5em;
      width: 20em;
    }

    &__inner {
      position: absolute;
      top: 0;
      left: 0;

      background: var(--gradient-background);
      background: var(--gradient);
      border-radius: 2px;
      height: 23px;

      transition: width .1s linear;
    }
  }
  
  &__row {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;

    input[type="range"] {
      margin-left: .5em;
      width: 20em;
    }
  }
}