nav {
  border-right: 1px solid var(--border-color);
  font-family: var(--display-font);
  font-size: 1.2em;
  font-weight: 400;
  height: 100%;
  width: 20em;

  ul {
    li {
      border-bottom: 1px solid var(--border-color);

      a {
        color: white;
        display: block;
        padding: 1.5em;

        &:hover {
          background-color: #313131;
        }

        &.selected {
          background-color: #444;
        }
      }

      &.selected {
        a {
          background: var(--gradient-default);
          background: var(--gradient);

          &:hover {
            background: var(--gradient-lighter-default);
            background: var(--gradient-lighter);
          }
        }
      }
    }
  }
}
