.counter-view {
  padding-top: 2em;
  
  button {
    margin-top: 1em;
  }

  .value-bubble {
    background-color: var(--highlight-color-lighter);
    border-radius: 10px;
    color: var(--background-color);
    display: inline-block;
    padding: .1em .5em;
    margin-left: 0.5em;
  }
}