@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@400&display=swap');

:root {
  --background-color: #212121;
  --background-color-lighter: #333;
  --background-color-lightest: #444;
  --border-color: #444;
  --highlight-color: #3a0088;
  --highlight-color-light: #3f0e81;
  --highlight-color-lighter: #ac72fa;
  --text-color: #ddd;

  --default-font: 'Roboto', sans-serif;
  --display-font: 'Roboto Condensed', sans-serif;

  --gradient: linear-gradient(65deg, rgba(58,0,136,1) 0%, rgba(126,68,204,1) 80%, rgba(172,114,250,1) 100%);
  --gradient-default: rgb(58,0,136);

  --gradient-lighter: linear-gradient(65deg, rgba(79,18,161,1) 0%, rgba(149,96,221,1) 80%, rgba(204,166,255,1) 100%);
  --gradient-lighter-default: rgb(79,18,161);
}

html, body {
  margin: 0;
  width: 100%;
}

a {
  text-decoration: none;

  &.action {
    align-items: center;
    border: 1px solid var(--highlight-color-lighter);
    border-radius: 3px;
    box-sizing: border-box;
    color: var(--highlight-color-lighter);
    cursor: pointer;
    display: flex;
    padding: .2em .75em;

    &:hover {
      background-color: var(--highlight-color-lighter);
      color: var(--background-color);
    }

    i {
      font-size: .8em;
      margin-right: .5em;
    }
  }

  &.cancel {
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 1px solid var(--text-color);
    }
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--default-font);
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--highlight-color-lighter);
  border-radius: 3px;
  box-sizing: border-box;
  color: var(--highlight-color-lighter);
  cursor: pointer;
  display: flex;
  margin-top: 1.5em;
  font-family: var(--default-font);
  font-size: 1em;
  padding: .2em .75em;
  
  &:hover {
    background-color: var(--highlight-color-lighter);
    color: var(--background-color);
  }

  i {
    font-size: .8em;
    margin-right: .5em;
  }

  &.cancel {
    border: 1px solid transparent;
    color: var(--text-color);
    padding: 0 1.5em;
    text-decoration: underline;

    &:hover {
      background-color: transparent;
      color: var(--highlight-color-lighter);
    }
  }
}

h1, h2, h3 {
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 0;
}

input, select {
  background-color: var(--background-color-lighter);
  border: 1px solid transparent;
  border-radius: 3px;
  box-sizing: border-box;
  color: var(--text-color);
  font-size: 1em;
  padding: .5em;

  &:focus-visible {
    border: 1px solid var(--highlight-color-lighter);
    outline: none;
  }
}

input {
  &:disabled {
    background-color: #262626;
    cursor: no-drop;

    &::placeholder {
      color: #181818;
    }
  }
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

#root {
  height: 100%;
}

.app {
  display: flex;
  height: 100%;
}

.form-actions {
  display: flex;
  flex-flow: row-reverse nowrap;
  margin-top: 2em;
}

.input-group {
  input, select {
    display: block;
    width: 100%;
  }

  label {
    display: block;
    margin-bottom: .5em;
  }

  &:not(:last-of-type) {
    margin-bottom: 1.5em;
  }

  &.disabled {
    label {
      color: #777;
    }

    input {
      color: #181818;
    }
  }

  &.error {
    input {
      border: 1px solid red;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  box-sizing: border-box;
  height: 100%;
  padding: 3em;
  width: 100%;
}

.overlay-container {
  position: relative;
  width: 100%;
}